<form onsubmit= {{action "submitChanges"}}>

    <div class="field">
        <label for="">First Name:</label>
        {{input type="text" placeholder="First name" value=first}}
    </div>

    <div class="field">
        <label for="">Last Name:</label>
        {{input type="text" placeholder="Last name" value=last}}

    </div>

    <div class="form-footer">

        <button class="btn-submit">
            save
        </button>
    </div>

</form>